*.log
npm-debug.log*

# Dependency
node_modules/

# Package lock
package-lock.json

# Project files
src/
examples/
.travis.yml
.eslintrc
.babelrc
.gitignore

# MacOS specific
.DS_Store

# Jest coverage report
coverage/

# local cache on integration test
test-local-cache/

*.config.*

*.captain-definition
*.Dockerfile

# Final build (npm pack)
hotstone-client-*.tgz
