{
  "extends":"stylelint-config-recommended-scss",
  "plugins":[
    "stylelint-scss",
    "stylelint-no-unsupported-browser-features"
  ],
  "rules":{
    "no-descending-specificity":[true,{"severity":"warning"}],
    "rule-empty-line-before":[ "always-multi-line",{
      "ignore":["after-comment", "first-nested"],
      "message":"An empty line is required before every rule"
    }],
    "block-no-empty":true,
    "indentation":[2, {
      "severity":"error"
    }],
    "at-rule-blacklist": ["debug",{
      "message":"Please remove @debug statement before production",
      "severity":"warning"
    }],
    "scss/at-extend-no-missing-placeholder":[true,{"severity":"warning"}]
  }
}